<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href='{{ url_for("static", filename="css/style.css")}}'>
</head>
<body>
    <h1>Welcome {{user.first_name}} {{user.last_name}} to Review Dashboard</h1>
    <h2>All Users in The Database</h2>
    <table>
        <thead>
            <th>Movie Title</th>
            <th>Rating</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{review.title}}</td>
                <td>{{review.rating}}</td>
                <td>
                    <a href="reviews/{{review.id}}">Show</a>
                    <a href="reviews/{{review.id}}/edit">Edit</a>
                    <a href="reviews/{{review.id}}/delete">Delete</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <form action="/reviews/create" method="POST">
        <input type="hidden", name="user_id", value="{{user.id}}">
        <p>Movie Title: <input name= "title" type="text"></p>
        <p>Review Content: <input name="content" type="text"></p>
        <p>Rating: <input name="rating" type="number"></p>
        <p>Date Watched: <input name="date_watched" type="date"></p>
        <button type="submit">Create Review</button>
    </form>
</body>
</html>